#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
.mainSection{
    flex-grow: 1;
}

.imgAdmin{
    background-image: url('https://i.pinimg.com/564x/15/bd/61/15bd61fcbfb140da19b2d4c47995e5ad.jpg ');
    height: 100vh;
    width: 100%;
    background-repeat : no-repeat;
    background-size : cover;
 
}